<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HanumanInstitute.FFmpeg.IntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EmergenceGuardian.FFmpeg.IntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FFmpeg.IntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <HanumanInstitute.FFmpeg.IntegrationTests.Properties.Settings>
            <setting name="FFmpegPath" serializeAs="String">
                <value>C:\GitHub\NaturalGroundingPlayer\Encoder\ffmpeg.exe</value>
            </setting>
            <setting name="X264Path" serializeAs="String">
                <value>C:\GitHub\NaturalGroundingPlayer\Encoder\x264-10bit.exe</value>
            </setting>
            <setting name="X265Path" serializeAs="String">
                <value>E:\AVSMeter\x265.exe</value>
            </setting>
            <setting name="Avs2PipeMod" serializeAs="String">
                <value>C:\GitHub\NaturalGroundingPlayer\Encoder\avs2pipemod.exe</value>
            </setting>
            <setting name="VsPipePath" serializeAs="String">
                <value>C:\Program Files (x86)\VapourSynth-32\core\vspipe.exe</value>
            </setting>
        </HanumanInstitute.FFmpeg.IntegrationTests.Properties.Settings>
        <EmergenceGuardian.FFmpeg.IntegrationTests.Properties.Settings>
            <setting name="FFmpegPath" serializeAs="String">
                <value>C:\GitHub\NaturalGroundingPlayer\Encoder\ffmpeg.exe</value>
            </setting>
            <setting name="X264Path" serializeAs="String">
                <value>C:\GitHub\NaturalGroundingPlayer\Encoder\x264-10bit.exe</value>
            </setting>
            <setting name="X265Path" serializeAs="String">
                <value>E:\AVSMeter\x265.exe</value>
            </setting>
            <setting name="Avs2PipeMod" serializeAs="String">
                <value>C:\GitHub\NaturalGroundingPlayer\Encoder\avs2pipemod.exe</value>
            </setting>
            <setting name="VsPipePath" serializeAs="String">
                <value>C:\Program Files (x86)\VapourSynth-32\core\vspipe.exe</value>
            </setting>
        </EmergenceGuardian.FFmpeg.IntegrationTests.Properties.Settings>
        <FFmpeg.IntegrationTests.Properties.Settings>
            <setting name="FFmpegPath" serializeAs="String">
                <value>E:\AVSMeter\ffmpeg.exe</value>
            </setting>
        </FFmpeg.IntegrationTests.Properties.Settings>
    </userSettings>
</configuration>
